@model SitioControlDeEquipos.Models.Equipo

@{
    ViewBag.Title = "Actualizar:";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actualice los datos que sean necearios:</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Datos del registro</legend>

        <div class="editor-label">
            Codigo :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codigo_equipo)
            @Html.ValidationMessageFor(model => model.codigo_equipo)
        </div>

        <div class="editor-label">
            Marca:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.marca)
            @Html.ValidationMessageFor(model => model.marca)
        </div>

        <div class="editor-label">
            Modelo:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modelo)
            @Html.ValidationMessageFor(model => model.modelo)
        </div>

        <div class="editor-label">
            Numero de serie:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numero_serie)
            @Html.ValidationMessageFor(model => model.numero_serie)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.fecha_compra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha_compra)
            @Html.ValidationMessageFor(model => model.fecha_compra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.periodo_garantia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.periodo_garantia)
            @Html.ValidationMessageFor(model => model.periodo_garantia)
        </div>*@

        <div class="editor-label">
            Descripcion:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            Responsable:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.responsable)
            @Html.ValidationMessageFor(model => model.responsable)
        </div>

        <div class="editor-label">
            Ubicacion:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ubicacion)
            @Html.ValidationMessageFor(model => model.ubicacion)
        </div>

        <p>
            <input type="submit" value="Guardar cambios" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
