@model IEnumerable<SitioControlDeEquipos.Models.Equipo>

@{
    ViewBag.Title = "Actualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Datos de equipo de cómputo</h2>

<p >
    @Html.ActionLink("Registrar equipo de cómputo ", "Create")
</p>
<table >
    <tr >
        <th >
           Codigo 
        </th>
        <th>
            Marca
        </th>
        <th>
            Modelo
        </th>
        <th>
           S/N
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.fecha_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodo_garantia)
        </th>*@
        <th>
            Descripcion
        </th>
        <th>
            Responsable
        </th>
        <th>
            Ubicación 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_equipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero_serie)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.fecha_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodo_garantia)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responsable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ubicacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.codigo_equipo  }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.codigo_equipo }) |
            
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar al inicio", "Index","Home")
</div>

